<article>
  <p>
    Andrea Zucchini García
  </p>
  <p>
    Web developer
  </p>

  <figure>
    <img src="/images/azucchini.jpg">
    <figcaption>
      Andrea Zucchini
    </figcaption>
  </figure>
</article>