<%- include partials/layoutHeader.ejs %>
  <p>El portal donde podrá crear sus propios juegos!</p>
  <p>
    <a href="/quizes/question">Sección de preguntas</a>
  </p>
<%- include partials/layoutFooter.ejs %>
