<!DOCTYPE html>
<html lang="es">
  <head>
    <title>

    </title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet'
          type='text/css'
          media='only screen and (min-width: 530px) and (min-device-width: 481px)'
          href='/stylesheets/wide.css' />
    <link rel='stylesheet'
          type='text/css'
          media='only screen and (max-width: 480px)'
          href='/stylesheets/smartphone.css' />
    <link rel='icon' href='/favicon.ico' type="image/x-icon" />
  </head>
  <body>
    <div id="page-wrap">
      <header class="main">
        <% if(!session.user) { %>
        <a href="/login" class="btn btn-cancel pull-right">
          Login
        </a>
        <% } else { %>
        <form action="/logout?_method=delete" method="post" class="mt0 pull-right">
          <p class="mt0">
            <%= session.user.username %>
            <button class="btn btn-cancel" type="submit">
              Logout
            </button>
          </p>
        </form>
        <% } %>
        <h2>
          Quiz el juego de las preguntas
        </h2>
      </header>
      <nav role="navigation" class="main" id="n1">
        <ul>
          <li>
            <a href="/">
              Inicio
            </a>
          </li>
          <li>
            <a href="/quizes">
              Preguntas
            </a>
          </li>
          <li>
            <a href="/author">
              Autor
            </a>
          </li>
          <li>
            <a href="/quizes/statistics">
              Estadísticas
            </a>
          </li>
        </ul>
      </nav>
      <section class="main" id="s1">
        <%- body %>
        <% if (typeof errors !== 'undefined' && errors.length) {%>
          <% for (var i in errors) { %>
            <div class="alert alert-danger">
              <p>
                <%= errors[i].message %>
              </p>
            </div>
          <% } %>
        <% } %>

        <% if (typeof session.errors !== 'undefined' && session.length) {%>
        <% for (var e in session.errors) { %>
        <div class="alert alert-danger">
          <p>
            <%= session.errors[i].message %>
          </p>
        </div>
        <% } %>
        <% } %>
      </section>
      <footer>
        <ul>
          <li>
            <a href="https://es.wikipedia.org/wiki/Quiz">
              ¿Qué es un Quiz?
            </a>
          </li>
          <li>
            <a href="https://github.com/zucchinidev/quiz">
              Quiz en GitHub
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
