<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='favicon.ico' type="image/x-icon" />
  </head>
  <body>
    <div id="page-wrap">
      <header class="main" id="h1">
        <h2>
          Quiz el juego de las preguntas
        </h2>
      </header>
      <nav role="navigation" class="main" id="n1">
        <ul>
          <li>
            <a href="/">
              Inicio
            </a>
          </li>
          <li>
            <a href="/quizes/question">
              Preguntas
            </a>
          </li>
        </ul>
      </nav>
      <section class="main" id="s1">
        <%- body %>
      </section>
      <footer>
        <a href="https://es.wikipedia.org/wiki/Quiz">
          ¿Qué es un Quiz?
        </a>
      </footer>
    </div>
  </body>
</html>
