* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px Georgia, serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

ul {
    list-style: none;
}

form {
    margin-top: 2rem;
}

a:hover {
    color: #999;
    font-weight: 700;
}


#page-wrap {
    margin: 2% auto;
    color: white;
}

#page-wrap > .main {
    border: 1px solid #999;
    padding: 1%;
    margin-bottom: 1px;
    color: black;
}

section > div {
    padding: 20px;
}

header, nav, section {
    background: #eee;
}

footer {
    background: #eee;
    text-align: center;
}

nav li {
    margin: 0 10px 0 0;
    display: inline-block;
}

footer li {
    display: inline-block;
    list-style: none;
}

fieldset {
    border: solid 1px #ccc;
    margin-bottom: 1em;
    padding: 1rem;
}

p {
    margin-top: 1rem;
}

button[type="submit"], input[type="text"] {
    border: solid 1px #ccc;
    border-radius: 2px;
    padding: 0.5rem 1.5rem;
}

input[type="text"] {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-left: 5px;
}

button[type="submit"]  {
    background-color: rgba(89, 153, 134, 0.72);
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

button[type="submit"]:hover  {
    background-color: rgb(89, 153, 134);
    cursor: pointer;
}

select {
    padding: 0.5rem;
    background-color: white;
}


.btn {
    border: solid 1px #ccc;
    border-radius: 2px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
}

.btn-action {
    background-color: rgba(89, 153, 134, 0.72);
}

.btn-cancel{
    background-color: rgba(134, 150, 145, 0.72);
}

.btn-cancel:hover{
    background-color: rgba(198, 206, 203, 0.72);
    color: grey;
}

.alert {
    color: #a94442;
    margin-top: 1rem;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert p {
    margin-top: 0;
}

.form-quiz label{
    display: block;
    min-width: 250px;
}

.question-list li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.question-list span:first-child,
.question-list a:nth-child(2){
    word-break: break-all;
    display: inline-block;
}

.question-list a:nth-child(2) {
    min-width: 200px;
}

.question-list span:first-child {
    min-width: 100px;
}

.capitalize {
    text-transform: capitalize;
}

#ErrorMsgs {
    color: #f61;
    font-size: smaller
}

#modal-delete-quiz {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal-content {
    width: 400px;
    background-color: #eee;
    border: solid 1px #ccc;
    border-radius: 3px;
    position: absolute;
    top: 35%;
    left:35%;
    height: 200px;
}


.modal-content header {
    margin-top: 2rem;
}


.right {
    float: right;
}

.quiz_img {
    height: 150px;
    float: left;
}

.main h2 {
    text-align: center;
}


.text-center {
    text-align: center;;
}