* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px Georgia, serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

ul {
    list-style: none;
}

a:hover {
    color: #999;
    font-weight: 700;
}


#page-wrap {
    margin: 2% auto;
    color: white;
}

#page-wrap > .main {
    border: 1px solid #999;
    padding: 1%;
    margin-bottom: 1px;
    color: black;
}

section > div {
    padding: 20px;
}

header, nav, section {
    background: #eee;
}

footer {
    background: #eee;
    text-align: center;
}

nav li {
    margin: 0 10px 0 0;
    display: inline-block;
}

footer li {
    display: inline-block;
    list-style: none;
}

fieldset {
    border: solid 1px #ccc;
    padding: 1rem;
    margin-bottom: 1em;
}

button[type="submit"], input[type="text"] {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: solid 1px #ccc;
    border-radius: 2px;
}

input[type="text"] {
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

button[type="submit"]  {
    background-color: rgba(89, 153, 134, 0.72);
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

button[type="submit"]:hover  {
    background-color: rgb(89, 153, 134);
    cursor: pointer;
}


#ErrorMsgs {
    color: #f61;
    font-size: smaller
}

.right {
    float: right;
}

.quiz_img {
    height: 150px;
    float: left;
}

.main h2 {
    text-align: center;
}
