<header>
  <h1>
    Crea una adivinanza
  </h1>
</header>
<article>
  <div>
    <form class="form-quiz" action="/quizes/create" method="post">
        <% include ../partials/formQuiz.ejs %>
    </form>
  </div>
</article>