<form action="/quizes/<%= quiz.id %>/answer" method="get">
  <label>
    Pregunta: <%= quiz.question %>.
    <input type="text" name="answer"/>
  </label>
  <button type="submit">Enviar</button>
</form>
