<ul>
  <li class="well">
    Número total de preguntas: <%= totalQuizes %>
  </li>
  <li class="well">
    Número total de comentarios: <%= totalComments %>
  </li>
  <li class="well">
    Número total de preguntas sin comentarios: <%= totalQuizesNotComments %>
  </li>
  <li class="well">
    Número total de preguntas con comentarios: <%= totalQuizesWithComments %>
  </li>
</ul>